{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/about_style.css">
{% endblock %}

{% block body_text %}
    <p>We are students of the College of Communications No. 54</p>
    <p>This is a simple web service that has a registration function on the site</p>
{% endblock %}

{% block body_pic %}
    <img src="static/flask-horizontal.webp" alt="flask-horizontal" class="pic">
{% endblock %}